@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

/* button  */
.button-pengaturan {

    width: 8%;
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 15px;
    align-content: center;
}

.slt11 {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #088178;
    border-radius: 5px;
    margin: 15px 0px;

}

.btnkembali:hover {
    background-color: orange;
}


.btnkembali {
    width: 100px;
    background-color: blue;
    text-decoration: none;
    padding: 2%;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 15px;
    align-content: center;
}



.btnsimpan {
    width: 100px;
    padding: 2%;
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 15px;
}

.btnsimpan:hover {
    background-color: orange;
}

/* icon */
.lasii {
    width: 55%;
    height: 20%;
    background-color: red;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 5% 3%;
}

.lasi {
    width: 55%;
    height: 20%;
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    align-content: center;
    padding: 4% 4%;
}

/* 
body {
    background: rgb(235, 243, 243);
} */

.text-center {
    text-align: center;
}

.login {
    width: 400px;
    margin: 170px auto;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    background-color: #15be15;
}

.btn {
    text-align: center;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

.login-header {
    background: #15be15;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.login-container {
    background: #0e5619;
    padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
    padding: 12px;
}

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: #888;
}

.login input[type="submit"] {
    background: #15be15;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.login input[type="submit"]:hover {
    background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
    border-color: #05a;
}

/* alert semua kompoenen */

.alert {
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0px;
    background: red;
    color: white;
}

.alert-sukses {
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0px;
    background: rgb(4, 186, 74);
    color: white;

}

/* navbar */
.float-left {
    float: left;
}

.clearfix {
    clear: both;
}

.container {
    width: 100%;
    margin-left: 80px;

}

.container12 {
    width: 100%;

}

.navbar {
    height: 60px;
    width: 100%;
    background-color: #17c;
    box-shadow: 0px 5px 15px rgb(196, 196, 196);

    /* agar di scroll tidak ke bawah */
    position: fixed;
}

.nav-brand {
    display: inline-block;
    padding: 15px 0;
    margin-right: 16px;
}

.nav-menu {
    display: flex;
    list-style: none;
}

/* jarak antar navbar seperti menu dan lain lain */
/* 
.nav-menu li {
    padding: 0px 10px;
} */

.nav-menu li a {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.nav-menu li .dropdown {
    border: 1px solid black;
    list-style: none;
    background-color: #fff;
    position: absolute;
    display: none;
}


.navbar h2 {
    color: white;
    margin-right: 180px;
}

.navbar a {
    color: #fff;
}

.nav-menu li .dropdown a {
    color: #aaa;
}

.nav-menu li:hover .dropdown {
    display: block;
}

.nav-menu li:hover {
    background-color: orange;
}


.nav-menu li a:hover {
    color: red;
}

.nav-menu .las {
    color: white;
}

/* content */

.contenti {
    padding: 80px 70px;
}

.containeri {
    width: 100%;

}

/* pengguna */
.box {
    border: 1px solid #ddd;
    background-color: #fff;
}

.box-header1 {
    align-content: center;
    padding: 16px;
    color: white;
    font-size: 25px;
    align-items: center;
    font-weight: 700;
    border-bottom: 1px solid #ddd;
    background-color: rgb(188, 187, 187);
}

.box-body1 {
    margin-top: 10px;
    padding: 16px;

}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 26px;

}

.table tr th {
    background-color: rgb(79, 32, 154);
    color: white;

}

.table th,
.table td {
    border: 1px solid rgb(209, 208, 208);
    padding: 10px;
}

.table tr td {
    text-align: center;
}

.btnsecondary {
    background-color: rgb(65, 12, 171);
    text-decoration: none;
    padding: 1%;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.btnsecondary:hover {
    background-color: orange;
}


.btnprimary {
    width: 50px;
    background-color: rgb(7, 127, 39);
    text-decoration: none;
    padding: 6% 6%;
    color: white;
    border-radius: 3px;
    margin-top: 10px;
}

.btnprimary :hover {
    background-color: orange;
}

.btndanger {
    background-color: rgb(196, 10, 10);
    text-decoration: none;
    padding: 2% 2%;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}

.btndanger :hover {
    background-color: orange;
}

.tbl11 {
    margin: 14px;
}

form textarea {
    width: 100%;
    height: 70px;
    padding: 12px 10px;
    outline: none;
    border: 1px solid #088178;
    border-radius: 5px;

}

#mytextarea {
    width: 80%;
}

form input {
    width: 180%;
    padding: 12px 10px;
    outline: none;
    border: 1px solid #088178;
    border-radius: 5px;

}

form label {
    margin-left: 15px;
}



/* cari */

.search {
    margin-top: 25px;
    width: 100%;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #05aa4d;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #05aa4d;
}

.searchButton {
    width: 50px;
    height: 36px;
    border: 1px solid #05aa4d;
    background: #05aa4d;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}



/*Resize the wrap to see the search bar change!*/
form .wrap {
    width: 30%;

}



/* footer */
footer {
    background-color: rgb(9, 9, 9);
    text-align: center;
    padding: 1%;
    color: white;
}


/* jurusan-admin */

.table1 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 26px;

}

.table1 tr th {
    background-color: rgb(79, 32, 154);
    color: white;
    padding: 11px;


}

.table1 th,
.table1 td {
    border: 1px solid rgb(209, 208, 208);
    text-align: center;
}

.table tr td {
    text-align: center;
}

.btnprimary03 {
    background-color: rgb(7, 127, 39);
    text-decoration: none;
    padding: 4% 8%;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.btnprimary03 :hover {
    background-color: orange;
}

.btndanger03 {
    background-color: rgb(196, 10, 10);
    text-decoration: none;
    padding: 4% 6%;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.btndanger03 :hover {
    background-color: orange;
}

.foto1 {
    border: 1px solid rgb(218, 218, 218);
    padding: 5px 5px;
    margin-left: 20px;
}


/* header-user */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0px 5px 15px rgb(117, 115, 115);

    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

.header img {
    width: 70px;
    height: 40px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo li {

    list-style: none;
    position: relative;
    padding: 0px 20px;

}

.header-logo li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: black;
    transition: 0.3 ease;

}

.header-logo li a:hover,
.header-logo li a.active {
    color: orange;
}

.banner {
    padding: 0px 80px;
    background-image: url("identitas/sekolah1671853419.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 75% right 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.banner-text {
    padding-bottom: 45px;
}

.banner-text h3 {
    font-size: 35px;
    padding-bottom: 5px;
}

/*jurusan */
.section {
    padding: 40px 0;
    text-align: center;
}

.section h3 {
    padding-bottom: 25px;
    margin-bottom: 30px;
    position: relative;
}

.section h3::after {
    content: "";
    display: block;
    width: 60px;
    border: 4px solid red;
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
}

.section img {
    margin-bottom: 5px;
}

.section h4 {
    margin-bottom: 10px;
}

.section p {
    width: 80%;
    text-align: center;
}

.container12 p {
    margin-left: 25%;
    text-align: center;
    width: 50%;
}

.col-4 {
    min-height: 200px;
    width: 25%;
    float: left;
    padding: 10px;
}

.thumbnail-box {
    border: 1px solid #ccc;
    width: 100%;
    min-height: 200px;

}

.thumbnail-img {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;

}

.thumbnail-text {
    height: 50px;
    padding: 5px;

}

.box-body {
    padding: 16px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

.form-group .input-control {
    padding: 10px 16px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

/* informasi */
#produk1 {
    text-align: center;
}

#produk1 .pro-produk {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    flex-wrap: wrap;

}

#produk1 .pro {
    width: 300px;
    height: 350px;
    padding: 10px 12px;
    border: 1px solid #9c9a9a;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(176, 38, 38, 0.03);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}

#produk1 .pro img {
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

#produk1 .pro .deskripsi {
    text-align: center;
    padding: 10px 0;
}

#produk1 .pro span {
    color: #606063;
    font-size: 20px;
    text-align: center;

}

#produk1 .pro .des h5 {
    color: #1a1a1a;
    font-size: 20 px;
    margin: 15px;

}

#produk1 .pro .deskripsi i {
    font-size: 20px;
}

.section-p1 {
    padding: 40px 100px;
}

#produk1 .pro:hover {
    box-shadow: 10px 10px 54px rgba(10, 4, 125, 0.1);
    border: 3px solid cadetblue;
}

.thumbnail-link {
    text-decoration: none;
    color: black;
}

.thumbnail-link:hover {
    color: rgb(192, 5, 5);
}


/* ##################    contact.html #################################################################################################################### */


#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form {
    font-size: 15px;
    font-weight: 500;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 10px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 10px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

.section-p1 {
    padding: 40px 80px;
}

/* blog */
#blog {
    padding: 90px 150px 0 100px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}

#blog .blog-img {
    width: 60%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#blog .blog-detail {
    width: 70%;
}

#blog .blog-detail h4 {
    margin-bottom: 20px;
}

#blog .blog-detail p {
    margin-bottom: 20px;
}

#blog .blog-detail a {
    text-decoration: none;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    position: relative;
    margin-top: 25px;
}

#blog .blog-detail a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 8px;
    right: -60px;
}

#blog .blog-detail a:hover {
    color: #088178;
}

#blog .blog-detail a:hover::after {
    background-color: #088178;
}


/* card dosen */

.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: pop;
    padding: 50px;
}

.main .heading {
    font-size: 25px;
    margin-bottom: 50px;
    position: relative;
}



.heading::after {
    content: " ";
    position: absolute;
    width: 60%;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    background-color: rgb(255, 0, 25);
}

.container3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container3 .card {
    width: 230px;
    height: 370px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
    margin: 25px;
}

.card::after {
    content: " ";
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 81, 255, 0.864);
}

.card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fit;
    transition: .6s;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
    z-index: 99;
}

.card:hover img {
    transform: scale(.50) translateY(-120px);
    border-radius: 10px;
}

.card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: .6s;
}

.card:hover .details {
    transform: translateY(0);
}

.details h3 {
    font-size: 22px;
    margin-bottom: 3px;
    color: rgb(0, 81, 255);
}

.details p {
    font-size: 25px;
    color: #333;
    margin-bottom: 5px;
}

.details .social-links {
    display: flex;
}

.details .social-links a {
    width: 100px;
    height: 40px;
    color: #333;
    background-color: rgb(182, 182, 182);
    text-decoration: none;
    transition: .6s;
    display: grid;
    place-items: center;
    font-size: 17px;
    border-radius: 5px;


}

.details .social-links a:hover {
    transform: rotate(360deg);
    background-color: rgb(0, 81, 255);
    color: #fff;
}


/* jurusan user */
.atur {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "montserrat", sans-serif;
}

.card-jurusan {
    width: 280px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px #1b1b1b33;
    margin: 15px;
    transition: all 0.3s;
}

.card-image {
    width: 100%;
    height: 230px;
    border-radius: 5px 5px 0 0;
}

.card-image img {
    width: 100%;
    max-width: 100%;
    height: 230px;
    border-radius: 5px 5px 0 0;
    transition: all 0.3s;
}

.card-description {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    padding: 25px;
}

.card-description h3 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
}

.card-description p {
    color: #89ba16;
    font-size: 14px;
    margin-bottom: 16px;
}

.card-description a {
    color: #89ba16;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.card-jurusan:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 30px -5px rgba(10, 16, 34, 0.2);
}

.card-image img:hover {
    opacity: 0.8;
}