@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}


/* khusus tampilan user */
/* header-user */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0px 5px 15px rgb(117, 115, 115);

    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

.header img {
    width: 70px;
    height: 40px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo li {

    list-style: none;
    position: relative;
    padding: 0px 20px;

}

.header-logo li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: black;
    transition: 0.3 ease;

}

.header-logo li a:hover,
.header-logo li a.active {
    color: orange;
}

.banner {
    padding: 0px 80px;
    background-image: url("../img/aset/ss.png");
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: top 75% right 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.banner-text {
    padding-bottom: 45px;
}

.banner-text h3 {
    font-size: 45px;
    padding-bottom: 5px;
    color: #FF6E31;
}

.banner-text p {
    font-size: 18px;
    padding-bottom: 5px;
    color: #243763;
}

/*detail jurusan */
.section {
    padding: 50px 0;
    text-align: center;
}

.section h3 {
    padding-bottom: 25px;
    margin-bottom: 30px;
    color: black;
    position: relative;
}

.section h3::after {
    content: "";
    display: block;
    width: 100px;
    border: 1px solid #FF6E31;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
}

.section img {
    margin-bottom: 5px;
}

.section h4 {
    margin-bottom: 10px;
}

.section p {
    width: 80%;
    text-align: justify;
}

.detail-jurusan p {
    margin-left: 25%;
    text-align: justify;
    width: 50%;
    margin-top: 30px;
}

.detail-tentang p {
    text-align: justify;
    margin-left: 70px;
    width: 50%;
    margin-top: 30px;
}


/* tentang-sekolah user */
.huruf {
    font-size: 50px;

    padding: 0px 100px;
    text-align: justify;
}


.huruf p {
    font-size: 17px;
    text-align: justify;


}

/* 
.col-4 {
    min-height: 200px;
    width: 25%;
    float: left;
    padding: 10px;
}

.thumbnail-box {
    border: 1px solid #ccc;
    width: 100%;
    min-height: 200px;

}

.thumbnail-img {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;

}

.thumbnail-text {
    height: 50px;
    padding: 5px;

}

.box-body {
    padding: 16px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

.form-group .input-control {
    padding: 10px 16px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
} */

/* ##################    contact.html #################################################################################################################### */


#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form {
    font-size: 15px;
    font-weight: 500;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 10px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 10px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

.section-p1 {
    padding: 40px 80px;
}

/* blog informasi index*/
#blog {
    padding: 0px 150px 0 100px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}

#blog .blog-img {
    width: 60%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#blog .blog-detail {
    width: 70%;
}

#blog .blog-detail h4 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: justify;

}

#blog .blog-detail p {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: justify;


}

#blog .blog-detail a {
    text-decoration: none;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    position: relative;
    margin-top: 25px;
}

#blog .blog-detail a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 8px;
    right: -60px;
}

#blog .blog-detail a:hover {
    color: #243763;
}

#blog .blog-detail a:hover::after {
    background-color: #243763;
}


/* blog informasi user*/
#blog1 {
    padding: 0px 150px 0 100px;
}

#blog1 .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}

#blog1 .blog-img {
    width: 60%;
    margin-right: 40px;
}

#blog1 img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#blog1 .blog-detail1 {
    width: 70%;
}

#blog1 .blog-detail1 h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

#blog1 .blog-detail1 p {
    margin-bottom: 20px;
}

#blog1 .blog-detail1 a {
    text-decoration: none;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    position: relative;
    margin-top: 25px;
}

#blog1 .blog-detail1 a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 8px;
    right: -60px;
}

#blog1 .blog-detail1 a:hover {
    color: #227C70;
}

#blog1 .blog-detail1 a:hover::after {
    background-color: #227C70;
}


/* card dosen */

.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.main .heading {
    font-size: 25px;
    margin: 80px;
    position: relative;
}



.heading::after {
    content: " ";
    position: absolute;
    width: 60%;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    background-color: #FF6E31;
}

.container3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container3 .card {
    width: 230px;
    height: 370px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
    margin: 25px;
}

.card::after {
    content: " ";
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #243763;
}

.card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fit;
    transition: .6s;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
    z-index: 99;
}

.card:hover img {
    transform: scale(.50) translateY(-120px);
    border-radius: 10px;
}

.card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: .6s;
}

.card:hover .details {
    transform: translateY(0);
}

.details h3 {
    font-size: 22px;
    margin-bottom: 3px;
    color: #243763
}

.details p {
    font-size: 25px;
    color: #333;
    margin-bottom: 5px;
}

.details .social-links {
    display: flex;
}

.details .social-links a {
    width: 100px;
    height: 40px;
    color: white;
    background-color: #06283D;
    text-decoration: none;
    transition: .6s;
    display: grid;
    place-items: center;
    font-size: 17px;
    border-radius: 5px;


}

.details .social-links a:hover {
    transform: rotate(360deg);
    background-color: #FF6E31;
    color: #fff;
}


/* jurusan user */
.atur {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-jurusan {
    width: 280px;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 2px 4px #243763;
    margin: 15px;
    transition: all 0.3s;
}

.card-image {
    width: 100%;
    height: 250px;
}

.card-image img {
    width: 100%;
    max-width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
    transition: all 0.3s;
}

.card-description {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 0 0 15px 15px;
    padding: 25px;
}

.card-description h3 {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
}

.card-description p {
    color: #243763;
    font-size: 14px;
    margin-bottom: 16px;
}

.card-description a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #243763;
    font-size: 12px;
    padding: 6px;
    border-radius: 3px;
}

.card-description a:hover {
    background-color: #227C70;
}

.card-jurusan:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 30px -5px #227C70
}

.card-image img:hover {
    opacity: 0.8;
}



/* galeriuser */
.galeri {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.kenangan {
    width: 400px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px #243763;
    margin: 20px;
    transition: all 0.3s;
}

.card-galeri {
    width: 100%;
    height: 200px;
}

.card-galeri img {
    width: 100%;
    max-width: 100%;
    height: 250px;
    border-radius: 5px 5px 0 0;
    transition: all 0.3s;
}

.galeri-description {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    padding: 55px;
}



.galeri-description p {
    color: #243763;
    font-size: 14px;
    text-align: center;
    margin: 10px;
}



.kenangan:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 30px -5px #227C70
}

.card-image img:hover {
    opacity: 0.8;
}





/* sambutan-user */
.info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 0px;
}


.info .main-info img {
    display: flex;
    width: 500px;
    max-width: 100%;
    height: 500px;
    /* border-top: 5px solid #FF6E31;
    border-left: 5px solid #FF6E31; */
}



.tulis {
    width: 800px;
    max-width: 100%;
    padding: 0 5px;

}

.main-info {
    width: 1350px;
    max-width: 96%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.main-info img {
    border-radius: 10px;
}

.tulis h4 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px;
}

.tulis h1 {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 10px;
    color: #FF6E31;
}

.tulis p {
    font-size: 12px;
    margin-bottom: 15px;
    text-align: justify;
    font-weight: 500px;
}

.btn-info button {
    padding: 10px 10px;
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 15px;
    align-content: center;
    outline: none;
    border: none;

}


/* ###### fitur ######## */
#fitur {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: space-between; (biar ada space antar fitur */
    flex-wrap: wrap;
    /* biar keatur */
}

#fitur .fe-box {
    width: 180px;
    height: 200px;
    text-align: center;
    padding: 25px 25px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #FF6E31;
    border-radius: 10px;
    margin: 15px 0;
}

/* agar diklik muncul di box */
#fitur .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(10, 4, 125, 0.1);
    border: 3px solid #243763;
}

/* gambar */
#fitur .fe-box img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

#fitur .fe-box h6 {
    display: inline-block;
    margin-top: 5px;
    /* display: inline-block;  (agar sesuai tulisan)*/

    /* padding: 0px 8px 8px 0px;   (atas,kiri,bawah,kanan */
    padding: 8px 8px 8px 8px;
    line-height: 1;
    border-radius: 4px;
    color: white;
    background-color: #86C8BC;
}

/* button agar ada warna berbeda-beda */
#fitur .fe-box:nth-child(2) h6 {
    background-color: #3C6255;
}

#fitur .fe-box:nth-child(3) h6 {
    background-color: #EB455F;
}

#fitur .fe-box:nth-child(4) h6 {
    background-color: #FF6E31;
}

#fitur .fe-box:nth-child(5) h6 {
    background-color: #243763;
}

#fitur .fe-box:nth-child(6) h6 {
    background-color: #227C70;
}

.section-p2 {
    padding: 0px 180px;
    margin-top: 60px;
}


.heading2::after {
    content: " ";
    position: absolute;
    width: 60%;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    background-color: rgb(255, 0, 25);
}

/* navbar */
.navbar1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #243763;
    padding: 25px;
    box-shadow: 0px 5px 15px rgb(186, 186, 186);

    z-index: 999;
    position: sticky;
    top: 0;
}

.navbar1 a {
    text-decoration: none;
    color: rgb(241, 236, 236);
    font-weight: 600;

}

.logo {
    padding-left: 30px;
}

.las {
    color: white;
}

.list {
    list-style: none;
    display: flex;
    gap: 45px;
    padding-right: 115px;
}

#toggler,
.navbar1 label {
    display: none;
}

.list li a:hover {
    color: #FF6E31;
}


/* page informasi */

#page-header {
    background-image: url("../img/aset/ss.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    margin-bottom: 10px;
}

#page-header h2 {
    color: #FF6E31;
    padding-bottom: 10px;
}

#page-header p {
    color: #0A2647;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 7px;
    color: #fff;
    font-weight: 600;
}


#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

#pagination a:hover {
    background-color: orange;
}




/* images galeri */

/* images */
/* 
.img-galeri {
    width: 90%;
    margin: 15px auto 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
}


.img-galeri img {
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: 0.4s;
}


.img-galeri img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 7px rgba(68, 77, 136, 0.2);
} */

/* .img-galeri a {
    text-decoration: none;
    width: 300px;
    height: 350px;
    background-color: #06283D;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;

} */




@media screen and (max-width :1250px) {



    /* sambutan */
    .info {
        width: 100%;
        height: auto;
        padding: 60ppx 0;
        margin-top: 20px;
    }

    .tulis {
        width: 90%;
        margin-top: 40px;
        margin-left: 80px;
    }

    /* akhir sambutan */
}


@media screen and (max-width :780px) {

    /* navbar */
    .list {
        list-style: none;
        display: flex;
        gap: 45px;
        padding-right: 0px;
    }

    .logo {
        padding-left: 0px;
    }

    /* informasi */
    #blog {
        padding: 0px 30px 0 30px;
    }

    .tulis {
        width: 90%;
        margin-top: 40px;
        margin-left: 0px;
    }
}

@media screen and (max-width :650px) {
    main-info {
        width: 100%;
        height: auto;
        padding: 60px 0;
        margin-top: 20px;
    }

    .tulis {
        width: 90%;
        margin-top: 40px;
    }


    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    main .heading {
        font-size: 25px;
        margin: 50px;
        position: relative;
    }


    .list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-top: 20px;
    }


    .list li a:hover {
        color: brown;
    }

    .navbar1 label {
        display: inline-block;
        align-items: end;
        cursor: pointer;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }



    .info {
        margin-bottom: 10px;
    }
}

@media screen and (max-width :440px) {
    .info {
        width: 100%;
        height: auto;
        padding: 60ppx 0;
        margin-top: 20px;
    }

    .tulis {
        width: 90%;
        margin-top: 40px;
        margin-right: 40px;
    }

    #fitur {
        display: block;
        align-items: center;
    }

    .section-p2 {
        padding: 0px 120px;
        margin-top: 60px;
    }

    .la-bars:before {
        content: "\f0c9";
        margin-right: 20px;
    }


    .detail-jurusan p {
        margin-left: 5%;
        text-align: left;
        width: 90%;
        margin-top: 30px;
    }

    .huruf {
        font-size: 50px;
        padding: 0px 20px;
        text-align: justify;
    }

    /* informasi index */

    .main .heading {
        font-size: 25px;
        margin: 30px;
        position: relative;
    }

    #blog .blog-box {
        display: block;
        align-items: center;
        width: 160%;
        padding: 10px;
        margin-top: 20px;
    }


    #blog .blog-detail h4 {
        padding-left: 35px;
    }

    #blog .blog-detail p {
        width: 110%;
        margin-left: 35px;
    }

    #blog .blog-detail a {
        padding-bottom: 90px;
        margin-left: 35px;
    }

    #blog img {
        width: 160%;
        height: 400px;
        object-fit: cover;
    }


    /* informasi user */
    #blog1 {
        padding: 0px 10px 0 15px;
    }


    #blog1 .blog-box {
        display: block;
        align-items: center;
        width: 100%;
        /* padding: 10px; */
        margin-top: 20px;
    }


    #blog1 .blog-detail1 h4 {
        padding-left: 35px;
    }

    #blog1 .blog-detail1 p {
        width: 110%;
        margin-left: 35px;
    }

    #blog1 .blog-detail1 a {
        padding-bottom: 90px;
        margin-left: 35px;
    }

    #blog1 img {
        width: 160%;
        height: 400px;
        object-fit: cover;
    }



}

/* galeri */
div.gallery {
    margin: 25px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    padding: 0px 20px 0px 20px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 600px;
    height: 400px;
}

div.desc {
    padding: 15px;
    text-align: center;
}


@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}



@media screen and (max-width :390px) {
    .huruf {
        display: block;
        padding: 10px;
    }

    .section-p2 {
        padding: 0px 70px;
        margin: 60px 0px 60px 0px;
    }

    .main .heading {
        font-size: 25px;
        margin: 20px;
        position: relative;
    }

    .detail-jurusan p {
        margin-left: 5%;
        text-align: left;
        width: 80%;
        margin-top: 30px;
    }
}


@media screen and (max-width :350px) {
    .huruf {
        display: block;
        padding: 10px;
    }

    .section-p2 {
        padding: 0px 70px;
        margin: 60px 0px 60px 0px;
    }

    .main .heading {
        font-size: 25px;
        margin: 20px;
        position: relative;
    }

    .detail-jurusan p {
        margin-left: 5%;
        text-align: left;
        width: 80%;
        margin-top: 30px;
    }
}